@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* -------------------- Navbar ------------------- */
  /* Nav main div */
  .navmain {
    @apply flex items-center justify-between flex-wrap py-4 px-6 shadow-2xl bg-gray-800 font-Roboto;
  }
  /* Nav logo */
  .logo {
    @apply flex items-center flex-shrink-0 text-white mr-6;
  }
  .logoSpan {
    @apply font-Roboto font-bold tracking-tight text-3xl text-red-600 pl-2 pt-2;
  }
  /* Buger icon */
  .MobileIcon {
    @apply flex items-center px-3 py-2 text-red-500 hover:text-red-700;
  }
  /* Nav links */
  .navlinks {
    @apply w-full block flex-grow lg:flex lg:items-center lg:w-auto tracking-wide;
  }
  .navlink {
    @apply block mt-4 lg:inline-block lg:mt-0 text-red-500 hover:text-white mr-4 pl-1 pt-2 transition ease-out duration-500;
  }

  /* -------------------- Home Page------------------- */

  /* Hero */
  .hero {
    @apply relative bg-indigo-600 overflow-hidden font-Rammetto;
  }

  /* Hero Divider */
  .hero_divider {
    @apply hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white transform translate-x-1/2;
  }

  /* Hero left side content */
  .heroLeft {
    @apply relative z-10 pb-8 bg-indigo-600 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32;
  }
  .hero_pokemonCard_wrap {
    @apply md:block lg:relative pt-6 px-2 hidden lg:px-8 w-screen;
  }
  .hero_pokemonCards {
    @apply grid gap-10 lg:grid-cols-6 md:grid-cols-3 my-10 xl:mr-40;
  }
  .heroLeftMain {
    @apply mt-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28;
  }
  .heroLeftMainText {
    @apply sm:text-center lg:text-left;
  }
  .heroLeftMainH1 {
    @apply text-4xl tracking-tight font-extrabold mt-2 tracking-wide py-5 sm:text-5xl md:text-6xl;
  }
  .heroBtnWrap {
    @apply mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start w-full;
  }
  .heroBtn {
    @apply w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium 
    rounded-full text-black bg-yellow-300 transform transition ease-out duration-300 shadow-lg hover:shadow-inner 
    hover:bg-yellow-400 hover:-translate-y-2 md:py-4 md:text-lg md:px-10;
  }

  /* Hero Right side content */
  .heroRight {
    @apply lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 opacity-90;
  }
  .heroImg {
    @apply h-56 w-full object-contain object-bottom sm:h-72 md:h-96 lg:w-full lg:pl-36 lg:h-full lg:px-10 bg-red-500;
  }


  /* -------------------- All Pokemon Cards ------------------- */

  .card_grid {
    @apply grid gap-16 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2 m-20 below-500:grid-cols-1;
  }
  .pokemonCard {
    @apply  p-3 m-auto border rounded-lg shadow-xl font-Roboto transform hover:scale-125 
    hover:shadow-2xl transition ease-out duration-300 cursor-pointer;
  }
  .pokemonCard_ID {
    @apply text-center text-black my-1  m-auto shadow-inner max-w-carNum shadow-2xl bg-gray-100 text-sm rounded-full;
  } 
  .pokemonCard_Name {
    @apply text-center text-white capitalize truncate;
  }
  .pokemonCard_Type {
    @apply text-xs text-white text-center capitalize truncate;
  }


  /* -------------------- About Page ------------------- */


  /* -------------------- Pokemons Page ------------------- */

  /* Pokedex */ 
  .pokedex {
    @apply font-Roboto flex justify-items-center justify-center items-center flex-col p-5 m-10;
  }
  
  .pokedexArrow_wrap {
    @apply flex items-center text-gray-200 hover:text-gray-800 cursor-pointer transition ease-out duration-500;
  }

  .pokedexHeader {
    @apply text-4xl tracking-tight font-extrabold mt-10 tracking-wide 
    py-5 sm:text-5xl md:text-6xl font-Rammetto text-white text-center;
  }
  /* Image section */ 
  .image-section {
    @apply flex justify-items-center rounded-l-md justify-between items-center md:flex-col h-DetailHeight my-5;
  }

  .image-wrap {
    @apply rounded-md w-max rounded-b-none rounded-r-none p-8;
  }

  .stats {
    @apply bg-gray-100 text-gray-800;
  }

  /* Details section */ 
  .details-section {
    @apply px-24 py-8 bg-gray-800 lg:rounded-l-none flex justify-items-center justify-between 
    items-center flex-col rounded-md h-DetailHeight;
  }
  .pokemonDetails {
    @apply  bg-gray-100 rounded-md py-8 mb-3 px-10 w-full text-gray-800 shadow-xl shadow-inner;
  }
  .detail_Id {
    @apply font-bold text-xl bg-gray-300 tracking-wide border-transparent 
    border shadow-inner shadow-2xl w-max p-1 px-3 rounded-full;
  }
  .detail_Name {
    @apply capitalize font-bold mr-5 text-3xl tracking-wide;
  }
  .colorTogglerDot {
    @apply dot absolute left-1 top-1 fire w-6 h-6 rounded-full transition;
  }
  .detailType {
    @apply border-transparent border text-sm text-white shadow-md shadow-inner p-1 px-3 mx-1 rounded-md;
  }
  .entries {
    @apply px-10 w-full rounded-md max-w-lg text-gray-900 bg-gray-100 shadow-xl shadow-inner;
  }

  /* Evolution section */
  .evolutionChain {
    @apply bg-gray-800 flex justify-center items-center w-full rounded-md flex-col;
  }
  .evolutionCenter {
    @apply flex justify-center items-center text-gray-300 m-3;
  }
  .evolution_Name {
    @apply cursor-pointer capitalize text-white text-sm tracking-wider px-2 py-1  hover:text-gray-400;
  }
  .evolution_Details {
    @apply text-xs w-32 text-center my-2 capitalize;
  }
  .evolution_requirments {
    @apply p-2 lg:flex-col flex-col-reverse h-auto; 
  }
  
  .evolutionArrow {
    @apply w-8 h-8 transform lg:rotate-0 rotate-90;
  }

  
  /* Pagination */

  .Pagination_wrap {
    @apply bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6 font-Roboto;
  }

  .Pagination {
    @apply sm:flex-1 sm:flex sm:items-center sm:justify-between;
  }

  .PaginationPages {
    @apply below-370:hidden below-500:text-xs below-500:px-3 below-500:py-1 bg-white 
    border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium;
  }
  .PaginationPages_md_hidden {
    @apply bg-white border-gray-300 text-gray-500 hover:bg-gray-50 hidden md:inline-flex 
    relative items-center px-4 py-2 border text-sm font-medium;
  }
  .PaginationPages_dots{
    @apply below-370:hidden below-500:text-xs below-500:px-3 below-500:py-1 relative inline-flex 
    items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700;
  }
  .PaginationPageActive {
    @apply below-370:hidden below-500:text-xs below-500:px-3 below-500:py-1 z-10 bg-indigo-50 
    border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium;
  }

  .Dropdown {
    @apply border border-gray-300 rounded-md text-gray-600 h-10 pl-5 pr-10 
    bg-white hover:border-gray-400 focus:outline-none appearance-none;
  }
  .xsScreenPageNum {
    @apply relative below-370:inline-flex hidden items-center px-4 py-2 
    border border-gray-300 bg-white text-sm text-gray-700;
  }

  .PaginationBtn {
    @apply relative inline-flex items-center px-2 py-2 border 
    border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50;
  }
}

.fire {background: radial-gradient(#edca45, #e65533)}
.water {background: radial-gradient(#2563EB, #1E3A8A)}
.grass {background: radial-gradient(#34D399, #065F46)}
.electric {background: radial-gradient(#FEF3C7, #FBBF24)}
.ice {background: radial-gradient(#DBEAFE, #60A5FA)}
.dark {background: radial-gradient(#1F2937, #000000)}
.fighting {background: radial-gradient(#EF4444, #7F1D1D)}
.flying { background: radial-gradient(#f3f7f5, #818CF8)}
.poison {background: radial-gradient(#1F2937, #5B21B6)}
.ground {background: radial-gradient(#D97706, #92411e)}
.rock {background: radial-gradient(#9CA3AF, #4B5563)}
.bug {background: radial-gradient(#111827, #064E3B)}
.steel {background: radial-gradient(#4B5563, #1F2937)}
.normal { background: radial-gradient( #c7c8c8, #9CA3AF)}
.unknown {background: radial-gradient( #c7c8c8, #9CA3AF)}
.psychic { background: radial-gradient(#F9A8D4, #DB2777)}
.shadow {background: radial-gradient(#ffffff, #000000)}
.ghost {background: radial-gradient(#808080, #000000)}
.dragon { background: radial-gradient(#4338CA, black)}
.fairy {background: radial-gradient(#FBCFE8, #F87171)}

.bg-shadow_type {background: radial-gradient(#ffffff, #000000)}
.bg-ghost_type {background: radial-gradient(#808080, #000000)}
.bg-dragon_type { background: radial-gradient(#4338CA, black)}



input:checked ~ .dot {
  transform: translateX(100%);
}

body {
  background: #1F2937;
}

